# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Logs and environment
*.log
.env
.python-version

# Large files not needed
*.whl
extracted_model/
extracted_xx/
